@charset 'UTF-8';
.m-scroll-cal{display:none;position:absolute;width:292px;background-color:#f5f5f5;text-align:left;}
.m-scroll-cal.m-sc-static{display:block;position:relative;}
.m-scroll-cal .m-sc-head{padding-left:30px;border-bottom:2px solid #00a9eb;font-size:20px;line-height: 50px;color:#00a9eb;}
.m-scroll-cal .m-sc-body{position:relative;padding:0 20px;overflow: hidden;}
.m-scroll-cal .m-sc-col{float:left;width:80px;height:150px;padding:0 2px;position: relative;text-align: center;font-size:20px;}
.m-scroll-cal li{position:absolute;width:100%;height:50px;line-height: 50px;}
.m-scroll-cal .m-sc-col:before,.m-scroll-cal .m-sc-col:after{content:"";position: absolute;width:80px;left:2px;height:2px;background-color:#00a9eb;z-index:10;}
.m-scroll-cal .m-sc-col:before{top:48px;}
.m-scroll-cal .m-sc-col:after{bottom:48px;}
.m-scroll-cal .m-sc-mid{margin:0 4px;}
.m-scroll-cal .m-sc-confirm{display:block;border-top:2px solid #00a9eb;line-height:40px;color:#00a9eb;text-align: center;text-decoration: none;font-size:20px;}
.m-scroll-cal .m-sc-confirm:hover{background-color:#00a9eb;color:#fff;}